{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}
    <div class="container">
        <form action="/song/{{ song.title }}_{{ song.id }}/edit" method="post" onsubmit="submitForm()">
            <div class="form-group">
                <input type="hidden" id="id" name="id" value="{{ song.id }}">
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" value="{{ song.title }}" type="text">
            </div>
            <div class="form-group">
                <label for="artist">Artist</label>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="artist" name="artist" value="{{ song.artist }}" type="text">
            </div>
            <div class="form-group">
                <label for="genre">Genre</label>
                <select id="genre" name="genre">
                    <option disabled value="">Genre</option>
                    <option selected value="{{ song.genre_id }}">{{ song.genre }}</option>
                    {% for genre in genres %}
                        <option value="{{ genre.id }}">{{ genre.genre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select id="type" name="type">
                    <option disabled value="">Type</option>
                    <option selected value="{{ song.type_id }}">{{ song.type }}</option>
                    {% for type in types %}
                        <option value="{{ type.id }}">{{ type.type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Song</label>
                <div id="editor"></div>
                <input type="hidden" name="song" id="hiddenInput">
            </div>
            <button type="submit">Save</button>
        </form>
    </div>

    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>

    <!-- Initialize Quill editor -->
    <script>
        const quill = new Quill('#editor', {
        theme: 'snow'
        });
        var songText = {{ song.song_text|tojson|safe }};
        quill.root.innerHTML = songText;
        
        function submitForm() {
            var content = quill.root.innerHTML.replace(/ /g, '&nbsp;');
            document.getElementById('hiddenInput').value = content;
        };
    </script>
{% endblock %}