{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <div>
        <table> 
                <td><input class="form-control" type="text" id="titleFilter" onkeyup="filter('titleFilter',0)" placeholder="Filter by title..."></td>
                <td><input class="form-control" type="text" id="artistFilter" onkeyup="filter('artistFilter', 1)" placeholder="Filter by artist..."></td>
                <td><input class="form-control" type="text" id="genreFilter" onkeyup="filter('genreFilter', 2)" placeholder="Filter by genre..."></td>
                <td><input class="form-control" type="text" id="typeFilter" onkeyup="filter('typeFilter', 3)" placeholder="Filter by type..."></td>
        </table>
        <table class="table" id="songTable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Genre</th>
                    <th>Type</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for song in songs %}
                    <tr>
                        <td name="title"><a href="/song/{{ song.title }}_{{ song.id }}">{{ song.title }}</a></td>
                        <td name="artist">{{ song.artist }}</td>
                        <td name="genre">{{ song.genre }}</td>
                        <td name="type">{{ song.type }}</td>
                        <td>
                            <form action="/song/{{ song.title }}_{{ song.id }}/edit">
                                <button name="edit" class="btn btn-primary">Edit</button>
                            </form>
                        </td>
                        <td>
                            <form action="/delete" method="post">
                                <input name="id" type="hidden" value="{{ song.id }}">
                                <button name="delete" class="btn btn-primary">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function filter(elementId, index) {
            var input = document.getElementById(elementId);
            var filter = input.value.toUpperCase();
            var table = document.getElementById("songTable");
            var tr = table.getElementsByTagName("tr");

            for (var i = 0; i < tr.length; i++) {
                var td = tr[i].getElementsByTagName("td")[index];
                if (td) {
                    var txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}