{% extends "layout.html" %}

{% block title %}
    {{ song.title }}
{% endblock %}

{% block main %}
    <div name="details">
        <h1>{{ song.title }}</h1>
        <h3>{{ song.artist }}</h3>
        <h6>{{ song.genre }} - {{ song.type }}</h6>
    </div>
    <form action="/song/{{ song.title }}_{{ song.id }}/edit">
        <button name="edit" class="btn btn-primary">Edit</button>
    </form>
    <form action="/delete" method="post">
        <input name="id" type="hidden" value="{{ song.id }}">
        <button name="delete" class="btn btn-primary">Delete</button>
    </form>
    <div class="scroll-buttons">
        <form class="form-group">
            <label for="scrollSpeed">Scroll Speed</label>
            <input class="form-control mx-auto w-auto" id="scrollSpeed" name="scrollSpeed" type="number" min="1" value="5">
        </form>
        <button name="scroll" class="btn btn-primary">Scroll</button>
        <button name="stop" class="btn btn-primary">Stop</button>
    </div>
    <div class="mt-5" name="song" id="song" style="text-align: initial;">
        <p>{{ song.song_text | safe }}</p>
    </div>

    <script>
        const song = document.getElementById("song");
        var h = document.documentElement.scrollHeight - window.innerHeight;

        document.querySelector('button[name="scroll"]').addEventListener("click", scroll)
        document.querySelector('button[name="stop"]').addEventListener("click", stopScroll)
        window.addEventListener("scroll", function() {
            if (window.pageYOffset >= h) {
                stopScroll();
            };
        });

        function scroll() {
            var scrollSpeed = document.getElementById("scrollSpeed");
            scrollSpeed = scrollSpeed.valueAsNumber;
            window.scrollBy(0,scrollSpeed)
            globalID = requestAnimationFrame(scroll);
        }

        function stopScroll() {
             {
                cancelAnimationFrame(globalID);
            };
        };
    </script>
{% endblock %}